<nav id="navbar" class="navbar is-transparent is-fixed-top is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <%= gettext("Olivetree") %>
      </a>
      <span class="navbar-burger burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <%= if !user_logged_in?(@conn) do %>
        <a class="navbar-item" href="/login"><%= gettext "Login" %></a>
        <% end %>
        <a class="navbar-item" href="/about"><%= gettext "About" %></a>
      </div>
      <div class="navbar-end">
        <%= if user_logged_in?(@conn) do %>
        <%= link(gettext("Log out"), to: login_path(@conn, :destroy), class: "navbar-item") %>
        <% end %>
        <%= if !user_logged_in?(@conn) do %>
        <a class="navbar-item" href="/login"><%= gettext "Sign Up" %></a>
        <% end %>

      </div>
    </div>
  </div>
</nav>
