  <div class="col-lg-6">
    <%= if @current_user do %>
      <h1 class="page-header">Authenticated</h1>
      <p class="lead">You are currently signed in as <code><%= @current_user.email %></code>.</p>
    <% else %>
      <h1 class="page-header">Unauthenticated</h1>
      <p class="lead">You are not signed in.</p>
    <% end %>
  </div>
</div>
